 <div id="side-nav" class="sidenav">
    
      
         
    </div>	<div id="canvas-overlay"></div>
        <div class="boxed-page">
            <nav id="navbar-header" class="navbar navbar-expand-lg">
        <div class="container">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
               
                
                <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="#">
                    <img src="{{.Site.Params.logo | absURL }}" alt="">
                </a>
            </div>
        </div>
    </nav>
