
<!-- Reservation Section -->
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style='background-image: url({{ "img/reservation-bg.jpg" | absURL }});'>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2>
                            Get on our list now
                        </h2>
                    </div>
                    <form name="contact-us" action="https://tech.us8.list-manage.com/subscribe/post?u=e1ac00b4656bad53e06cb36db&amp;id=77e61d74d7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e1ac00b4656bad53e06cb36db_77e61d74d7" tabindex="-1" value=""></div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" value="Subscribe" id="mc-embedded-subscribe" name="subscribe">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</section>